body{
	margin:0px;padding:0;
	font-family:Arial, Helvetica,  sans-serif,Ln;
	cursor:url(images/gb.cur),url(images/gb.webp),url(images/gb.jpg),url(images/gb.png),url(images/gb.bmp),auto;
	background-color: #ffffff        

}
#main{
	margin: 0 auto;
	border:0px #330000 solid; 
	width:800px;
	height:auto;
}
header{
	border:1px #330000 solid;
	width:800px;
	height:80px;
	background:#330000;
}
aside{
	width:170px;
	float: left;
	height: 640px;
	background: #986600;
}
nav{             /*nav϶榡*/
	border:0px #000000 solid;
	margin: 0px auto;padding:0px;
	margin-top:10px;
}
nav ul {
	list-style:none;        /*ܲM涵زŸ*/
	margin:0;padding:0; 
}

nav li a {
	display:block; 
	width:150px; 
	height:42px; 
	background-image:url(images/btn.png);  /*WslAI*/
	line-height:35px; 
	text-indent:45px; 
	text-decoration:none;    /*ܩu*/
	color:#333333;
	font-size:15px;
	cursor: url(./images/gb_hover.cur),auto;
}
nav li a:hover {
	background-image:url(images/btn_hover.png); /*ƹsɭI*/
	color:#ffffff; 
}


h1#text1{
	font-family: "黑体";
	margin:0px;padding:0px;
	position:absolute;
	font-size:45px;
	color:#FFFFFF;
	top:15px;
	margin-left:20px;
	filter:glow(color=#ff0000, strength=5);   
	text-shadow: 5px 5px 5px #FF0000;
}
article{
	border-right:1px #330000 solid;
	width:625px;
	margin-left:175px;
	height: 640px;
	background:#FFFFFF;
}

fieldset{
	border:1px solid;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
fieldset legend{
	text-align:center; 
}
footer{
	border:1px #330000 solid;
	background:#330000;
	color:#ffffff;
	width:800px;height:auto;
	text-align:center;
	line-height:50px;
}
#note_text{
	text-align:center;
}
 td{
	cursor:url(./images/gb_hover.cur);
}